In [1]:
import pandas as pd

In [28]:
df = pd.read_csv("dataset.txt",sep = "\t")

In [29]:
df["label"]=df.iloc[:,0]

In [30]:
df["text"]=df.iloc[:,1]

In [33]:
df2=df.iloc[:,2:4]

In [35]:
df2

       label                                               text
0     ACTION  Add more to your score by stopping in and pick...
1     ACTION  Add O'neal Winfee and George Smith to the atte...
2     ACTION  Additionally, send me the payment schedule for...
3     ACTION  Adjust our purchase amount from each party bas...
4     ACTION  After the next meeting, let me know on the tim...
...      ...                                                ...
2596  NORMAL  But the prospect of Britain leaving the econom...
2597  NORMAL  You have reached your limit for free articles ...
2598  NORMAL  Register to The Hindu for free and get unlimit...
2599  NORMAL  New Delhi: Nationalist Congress Party (NCP) sp...
2600  NORMAL  Crasto on Tuesday posted a cartoon in which he...

[2601 rows x 2 columns]

In [37]:
df2.label.value_counts()

NORMAL    1352
ACTION    1249
Name: label, dtype: int64

In [38]:
df2.to_csv("dataset.csv",index=False)